# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java
*.jks
google-services.json

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.xcuserstate
GoogleService-Info.plist

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.*
.cursor